@import "./../css/material-icons.css";
@import "~@angular/material/_theming.scss";
@include mat-core();

@import "./_variables.scss";
@import "./_layout.scss";
@import "./_sidenav.scss";

// Deep Purple Amber.
$deep-purple-primary: mat-palette($mat-deep-purple);
$deep-purple-accent : mat-palette($mat-amber, A200, A100, A400);
$deep-purple-theme: mat-light-theme($deep-purple-primary, $deep-purple-accent);

// Indigo
$indigo-primary: mat-palette($mat-indigo);
$indigo-accent: mat-palette($mat-pink, A200, A100, A400);
$indigo-theme: mat-light-theme($indigo-primary, $indigo-accent);

// Pink BlueGrey.
$pink-bluegrey-primary: mat-palette($mat-pink, 700, 500, 900);
$pink-bluegrey-accent : mat-palette($mat-blue-grey, A200, A100, A400);
$pink-bluegrey-theme: mat-dark-theme($pink-bluegrey-primary, $pink-bluegrey-accent);

// Purple Green
$purple-green-primary: mat-palette($mat-purple, 700, 500, 800);
$purple-green-accent : mat-palette($mat-green, A200, A100, A400);
$purple-green-theme: mat-dark-theme($purple-green-primary, $purple-green-accent);

@include angular-material-theme($indigo-theme);
@include sidenav-theme($indigo-theme);