<mat-toolbar color="primary">
    <span>Settings</span>
    <a mat-button (click)="onHome()">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-button (click)="onSettings()">
        <mat-icon>settings</mat-icon> Settings
    </a>
    <a mat-button (click)="onPostMan()">
        <mat-icon>pregnant_woman</mat-icon> PostMan
    </a>
    <a mat-button (click)="toggleSideNav('start')">
        <mat-icon>menu</mat-icon> Menu
    </a>
    <a mat-button (click)="toggleSideNav('end')">
        <mat-icon>folder</mat-icon> Folders
    </a>
    <button mat-raised-button color="accent">
        <strong>Create</strong>
    </button>
</mat-toolbar>