<mat-toolbar color="primary">
    <a mat-icon-button (click)="toggleSideNavStart()">
        <mat-icon>menu</mat-icon>
    </a>
    <a mat-button routerLink="/home">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-icon-button (click)="onRequests()">
        <mat-icon>send</mat-icon>
    </a>
    <a mat-button routerLink="/settings">
        <mat-icon>settings</mat-icon>
    </a>
    <button mat-raised-button color="accent">
        <strong>Create</strong>
    </button>
    <span fxFlex></span>
    <a mat-icon-button (click)="toggleSideNavEnd()">
        <mat-icon>more_vert</mat-icon>
    </a>

</mat-toolbar>