<h4>Papa Parse</h4>

<div fxLayout="column" fxLayoutGap="20px">

    <mat-card class="mat-elevation-z10">
        <button (click)="onImport()" color="primary" mat-raised-button>Import CSV</button>
        <input fxHide #fileInput fileImport type="file" (onFileChange)="onFileChange($event)">
    </mat-card>

    <mat-list *ngIf="!files.length==0" dense class="mat-elevation-z10">
        <mat-list-item *ngFor="let file of files">{{file}}</mat-list-item>
    </mat-list>

    <data-table [displayedColumns]="columns" 
    [models]="models$ | async" 
    [modelGroup]="modelGroup"></data-table>

</div>